@model IEnumerable<WebApplication1.Models.PNL>

@{
    ViewBag.Title = "View";
}

<div class="row">
    <div class="col-lg-12 text-left">
        <h4>Booking List</h4>

    </div>
</div><br />
<div class="row">
    <div class="col-lg-12 ">
       

    
        <form action="~/PNL/Search" method="post" enctype="multipart/form-data">

            <table class="table-striped">
                <tr>
                    <td class="col-md-2">Search</td>
                    <td class="col-md-2">
                        <input type="text" id="tbsearch" maxlength="20" class="form-control" name="tbsearch" />
                        @Html.Hidden("ID",
                           (string)ViewBag.ID,
                           new { @style = "width: 300px;", @id = "ID" })
                    </td>
                    <td class="col-md-2">
                        <input type="submit"  class="btn btn-success  btn-sm" value="Search" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
        <br />
        <table class="table-striped table">
            <tr>

                <th>
                   Name
                </th>

                <th>
                   Booking
                </th>
                <th>
                    File Name
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>

                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => item.booking)
                    </td>
                    <td class="">
                        @Html.DisplayFor(modelItem => item.FileList.FileName)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                    </td>
                </tr>
            }

        </table>
        </div>
</div>