@model IEnumerable<WebApplication1.Models.FileList>

@{
    ViewBag.Title = "View";
}

<div class="row">
    <div class="col-lg-12 text-left">
        <h4>Passanger Name List</h4>

    </div>
</div>
<br.
<div class="row">
    <div class="col-lg-12 ">
        <form action="~/FileList/Upload" method="post" enctype="multipart/form-data">

            <table class="table-striped">
                <tr>
                    <td>
                        select file to upload (*.txt)
                    </td>
                    <td class="col-md-2">

                      
                    </td> <td>   <input type="file" name="file" id="file" />

                      

                    </td>
                    <td><input type="submit" class="btn btn-success  btn-sm" /></td>
                </tr>
            </table>
        </form>
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.ActionLink("Invoke API", "InvokeAPI", new { id = item.Id }, new { @class = "btn btn-success  btn-sm" }) 
                        @Html.ActionLink(" View PNL  ", "Index", "PNL", new { id = item.Id }, new { @class = "btn btn-info  btn-sm" })  

                        @Html.ActionLink("New bookings", "Create", "PNL", new { id = item.Id }, new { @class = "btn btn-warning  btn-sm" })
                    </td>
                </tr>
            }

        </table>
</div>
</div>